.Rproj.user
.Rhistory
.RData
.Ruserdata
vignettes/cache
vignettes/figure
vignettes/summer-vignette_cache
summer-vignette.md
vignettes/summer-vignette_files/figure-latex
Demo
vignettes/u5mr-vignette_cache
